:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

.navbar-bg{
  background-color: var(--second-color) !important;
}

.main-bg{
  background-color: var(--main-color) !important;
  
}
.home-container{
  height:90vh;
}
.avatar-img{
  width: 250px;
}

.line{
  width: 100px;
  height: 5px;
  background-color: white;
}
footer{
  background-color: var(--second-color);
  color: white;
}
footer .container{
  padding-block: 15vh;
}
footer .icon{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-rights{
  background-color: #1a252f;

}
.copy-rights p{
  margin: 0;
}

.about-content{
  font-size: 1.11rem;
  text-align:left;
}
a{
  transition: all 0.5s;
}
a.active{
  background-color: #1abc9c;
  border-radius: 10px;
}
i.text-portfolio{
  color: var(--second-color) !important;
}
.img-cover{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color:#1abc9ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.img-cover i{
  font-size: 8rem;
  color: white;
}
.item:hover .img-cover{
  opacity: 1;
}

.layer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c3e5077;
  z-index: 99999;
}
.layer img{
  width: 600px;
}