:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

.navbar-bg{
  background-color: var(--second-color);
}

.main-bg{
  background-color: var(--main-color);
  height:90vh;
}
.avatar-img{
  width: 250px;
}

.line{
  width: 100px;
  height: 5px;
  background-color: white;
}